{% extends "UWEFlix/layout.html" %}

{% block title %}
    Delete
{% endblock title %}

{% block content %}
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <br><br>
        <div class="alert alert-danger" role="alert">
            Are you sure you want to delete "{{ account.acc_title }}"?
        </div>
        
        <p>
            <a href="{% url 'ManageAccountsList' %}"> <-- Go back</a>
        </p>

        <p>
            <input class="btn btn-danger" type="submit" value="Confirm">
        </p>
    </form>
{% endblock content %}